{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - ' + site_name_en -%}
{%- else -%}
    {%- set page_title_value = site_name_en -%}
{%- endif -%}

{%- if ('/start/' in page_url) and (page_url != '/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'Exit',
            'iconType': 'exit',
            'iconPosition': 'after',
            'url': url('StartExit:get', display_region='en')
        }-%}
{%- endif -%}

{%- set footer_content = {
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'About ONS studies',
                        'url': 'https://www.ons.gov.uk/surveys/informationforhouseholdsandindividuals'
                    },
                    {
                        'text': 'Contact us',
                        'url': 'https://www.ons.gov.uk/aboutus/contactus/surveyenquiries'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url_en + '/cookies/'
                    },
                    {
                        'text': 'Accessibility statement',
                        'url': 'https://www.ons.gov.uk/help/accessibility'
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url_en + '/privacy-and-data-protection/'
                    },
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'Crown copyright and database rights 2020 OS 100019153.'
        }
    }-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                'url': '/en' + page_url,
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': true
            },
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': false
            }
        ]
}-%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'header': {
        'logoHref': 'https://www.ons.gov.uk/',
        'title': site_name_en
    },
    'signoutButton': signout_button_value,
    'language': language,
    'footer': footer_content,
    'cspNonce': cspNonce
} -%}

{%- block preHeader -%}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{ onsCookiesBanner({
            "statementTitle": 'Tell us whether you accept cookies',
            "statementText": 'We use <a href="' + domain_url_en + '/cookies/' + '">cookies to collect information</a> about how you use start.surveys.ons.gov.uk. We use this information to make the website work as well as possible and improve our services.',
            "confirmationText": 'You’ve accepted all cookies. You can <a href="' + domain_url_en + '/cookies/' + '">change your cookie preferences</a> at any time.',
            "secondaryButtonUrl": domain_url_en + '/cookies/'
        }) }}
{%- endblock -%}
