{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - ' + site_name_cy -%}
{%- else -%}
    {%- set page_title_value = site_name_cy -%}
{%- endif -%}

{%- set footer_content = {
        'newTabWarning': 'Mae’r dolenni canlynol yn agor mewn tab newydd',
        'lang': 'cy',
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'Ynglŷn ag astudiaethau SYG',
                        'url': 'https://cy.ons.gov.uk/surveys/informationforhouseholdsandindividuals',
                        'target': '_blank'
                    },
                    {
                        'text': 'Datganiad hygyrchedd',
                        'url': 'https://cy.ons.gov.uk/help/accessibility',
                        'target': '_blank'
                    },
                    {
                        'text': 'Cysylltu â ni',
                        'url': 'https://cy.ons.gov.uk/aboutus/contactus/surveyenquiries',
                        'target': '_blank'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'Cwcis',
                        'url': domain_url + '/cy/cookies/',
                    },
                    {
                        'text': 'Preifatrwydd a diogelu data',
                        'url': domain_url + '/cy/privacy-and-data-protection/',
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': "Hawlfraint y Goron a hawliau cronfa ddata 2020 OS 100019153.",
        }
    }-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                "url": '/en' + page_url,
                "ISOCode": "en",
                "text": "English",
                "current": false
            },
            {
                "url": '/cy' + page_url,
                "ISOCode": "cy",
                "text": "Cymraeg",
                "current": true
             }
        ]
    }-%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'header': {
        'language': language,
        'mastheadLogoUrl': 'https://cy.ons.gov.uk/',
        'title': site_name_cy,
        'mastheadLogo' : {},
        'titleLogo' : {}
    },
    'footer': footer_content,
    'cspNonce': cspNonce,
    'meta' : {}
    }-%}

{%- block head -%}

    {%- if gtm_cont_id -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- if gtm_tag_id -%}
    {%- include 'partials/ga.html' with context -%}
{%- endif -%}

{%- block bodyStart -%}

    {%- if gtm_cont_id -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block skipLink -%}
    {{ onsSkipToContent({
            'url': '#main-content',
            'text': "Neidio i’r prif gynnwy"
        }) }}
{%- endblock -%}

{%- block preHeader -%}
{%- autoescape false -%}
{% set cookiesPageURL = domain_url + '/cy/cookies/' %}
{%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
{{ onsCookiesBanner({
        'lang': 'cy',
        'statementTitle': _('Cookies'),
        'serviceName': '',
        'settingsLinkURL': cookiesPageURL,
        'statementText': _("To collect information about how you use this website, we use%(open_cookies_link)s cookies.%(close_link)s</br>
                        This information helps us improve our services and make sure that the website works as well as possible.",
                        open_cookies_link='<a href="%s">' % cookiesPageURL, close_link='</a>'),
        'preferencesText':  'Gallwch chi <a href="' + cookiesPageURL + '">newid eich dewisiadau o ran cwcis</a> ar unrhyw adeg.'
        }) }}
{% endautoescape %}
{%- endblock -%}

