{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - ' + site_name_cy -%}
{%- else -%}
    {%- set page_title_value = site_name_cy -%}
{%- endif -%}

{%- if ('/start/' in page_url) and (page_url != '/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'PLACEHOLDER WELSH Gadael',
            'iconType': 'exit',
            'iconPosition': 'after',
            'url': url('StartExit:get', display_region='cy')
        }
    -%}
{%- endif -%}

{%- set footer_content = {
        'lang': 'cy',
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'PLACEHOLDER WELSH About ONS studies',
                        'url': 'https://cy.ons.gov.uk/surveys/informationforhouseholdsandindividuals'
                    },
                    {
                        'text': 'PLACEHOLDER WELSH Cysylltu â ni',
                        'url': 'https://cy.ons.gov.uk/aboutus/contactus/surveyenquiries'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'PLACEHOLDER WELSH Cwcis',
                        'url': domain_url_en + '/cy/cookies/'
                    },
                    {
                        'text': 'PLACEHOLDER WELSH Datganiad hygyrchedd',
                        'url': 'https://cy.ons.gov.uk/help/accessibility'
                    },
                    {
                        'text': 'PLACEHOLDER WELSH Preifatrwydd a diogelu data',
                        'url': domain_url_en + '/cy/privacy-and-data-protection/'
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'PLACEHOLDER WELSH Hawlfraint y Goron a hawliau cronfa ddata 2020 Arolwg Ordnans 100019153.',
            'text': 'PLACEHOLDER WELSH Mae defnydd o ddata ar gyfeiriadau yn amodol ar y telerau ac amodau.'
        }
    }
-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'PLACEHOLDER WELSH Cymraeg',
                'buttonAriaLabel': 'PLACEHOLDER WELSH Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'PLACEHOLDER WELSH Dewiswch iaith',
                'allLanguages': 'PLACEHOLDER WELSH Pob iaith',
                'current': true
            },
            {
                'current': false
            }
        ]
}
    -%}
{#    LANGUAGE TOGGGLE CODE, CAN'T BE COMMENTED OUT IN PLACE#}
{#                    'url': '/en' + page_url,
{#                'ISOCode': 'en',
{#                'text': 'English',
{#                'buttonAriaLabel': 'Language selector. Current language: English',
{#                'chooseLanguage': 'Choose language',
{#                 'allLanguages': 'All languages',#}
{#                 'current': false#}

{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'language': language,
    'header': {
        'language': 'cy',
        'title': site_name_cy
    },
    'signoutButton': signout_button_value,
    'footer': footer_content,
    'cspNonce': cspNonce
    }
-%}

{%- block skipLink -%}
    {{
        onsSkipToContent({
            'url': '#main-content',
            'text': "Neidio i’r prif gynnwy"
        })
    }}
{%- endblock -%}

{%- block preHeader -%}
    {% set cookiesPageURL = domain_url_en + '/cy/cookies/' %}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{ onsCookiesBanner({
        'lang': 'cy',
        'statementTitle': _('Cookies'),
        'serviceName': '',
        'settingsLinkURL': cookiesPageURL,
        'statementText': _("<p>To collect information about how you use this website, we use <a href="' + cookiesPageURL + '">cookies.</a></p>
                        <p>This information helps us improve our services and make sure that the website works as well as possible.</p>"),
        'preferencesText':  'Gallwch chi <a href="' + cookiesPageURL + '">newid eich dewisiadau o ran cwcis</a> ar unrhyw adeg.'
        })
    }}
{%- endblock -%}

