{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - ' + site_name_en -%}
{%- else -%}
    {%- set page_title_value = site_name_en -%}
{%- endif -%}

{%- set footer_content = {
        'newTabWarning': 'The following links open in a new tab',
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'About ONS studies',
                        'url': 'https://www.ons.gov.uk/surveys/informationforhouseholdsandindividuals',
                        'target': '_blank'
                    },
                    {
                        'text': 'Accessibility statement',
                        'url': 'https://www.ons.gov.uk/help/accessibility',
                        'target': '_blank'
                    },
                    {
                        'text': 'Contact us',
                        'url': 'https://www.ons.gov.uk/aboutus/contactus/surveyenquiries',
                        'target': '_blank'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url + '/en/cookies/',
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url + '/en/privacy-and-data-protection/',
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'Crown copyright and database rights 2020 OS 100019153.'
        }
    }-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                "url": '/en' + page_url,
                "ISOCode": "en",
                "text": "English",
                "current": true
            },
            {
                "url": '/cy' + page_url,
                "ISOCode": "cy",
                "text": "Cymraeg",
                "current": false
             }
        ]
    }-%}
{%- endif -%}


{%- set pageConfig = {
    'title': page_title_value,
    'header': {
        'mastheadLogoUrl': 'https://www.ons.gov.uk/',
        'title': site_name_en,
        'language': language,
        'mastheadLogo' : {},
        'titleLogo' : {}
    },
    'footer': footer_content,
    'cspNonce': cspNonce,
    'meta' : {}
} -%}

{%- block head -%}

    {%- if gtm_cont_id -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block bodyStart -%}

    {%- if gtm_cont_id -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block preHeader -%}
    {% set cookiesPageURL = domain_url + '/en/cookies/' %}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{ onsCookiesBanner({
        'lang': 'en',
        'statementTitle': 'Cookies',
        'serviceName': '',
        'settingsLinkURL': cookiesPageURL,
        'statementText': 'To collect information about how you use this website, we use <a href="' + cookiesPageURL + '">cookies.</a></br>
                        This information helps us improve our services and make sure that the website works as well as possible.',
        'preferencesText':  'You can <a href="' + cookiesPageURL + '">change your cookie preferences</a> at any time.'
        }) }}
{%- endblock -%}
