{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - ' + site_name_cy -%}
{%- else -%}
    {%- set page_title_value = site_name_cy -%}
{%- endif -%}

{%- if ('/cy/start/' in page_url) and (page_url != '/cy/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'PLACEHOLDER WELSH Gadael',
            'url': url('StartExit:get', display_region='cy')
        }-%}
{%- endif -%}

{%- set footer_content = {
        'newTabWarning': 'PLACEHOLDER WELSH The following links open in a new tab',
        'lang': 'cy',
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'PLACEHOLDER WELSH About ONS studies',
                        'url': 'https://cy.ons.gov.uk/surveys/informationforhouseholdsandindividuals',
                        'target': '_blank'
                    },
                    {
                        'text': 'PLACEHOLDER WELSH Datganiad hygyrchedd',
                        'url': 'https://cy.ons.gov.uk/help/accessibility',
                        'target': '_blank'
                    },
                    {
                        'text': 'PLACEHOLDER WELSH Cysylltu â ni',
                        'url': 'https://cy.ons.gov.uk/aboutus/contactus/surveyenquiries',
                        'target': '_blank'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'PLACEHOLDER WELSH Cwcis',
                        'url': domain_url + '/cy/cookies/',
                    },
                    {
                        'text': 'PLACEHOLDER WELSH Preifatrwydd a diogelu data',
                        'url': domain_url + '/cy/privacy-and-data-protection/',
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'PLACEHOLDER WELSH Hawlfraint y Goron a hawliau cronfa ddata 2020 Arolwg Ordnans 100019153.',
            'text': 'PLACEHOLDER WELSH Mae defnydd o ddata ar gyfeiriadau yn amodol ar y telerau ac amodau.'
        }
    }
-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                "url": '/en' + page_url,
                "ISOCode": "en",
                "text": "English",
                "current": false
            },
            {
                "url": '/cy' + page_url,
                "ISOCode": "cy",
                "text": "Cymraeg",
                "current": true
             }
        ]
    }-%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'header': {
        'language': language,
        'mastheadLogoUrl': 'https://cy.ons.gov.uk/',
        'title': site_name_cy,
        'signoutButton': signout_button_value,
        'mastheadLogo' : {},
        'titleLogo' : {}
    },
    'footer': footer_content,
    'cspNonce': cspNonce,
    'meta' : {}
    }
-%}

{%- block skipLink -%}
    {{
        onsSkipToContent({
            'url': '#main-content',
            'text': "Neidio i’r prif gynnwy"
        })
    }}
{%- endblock -%}

{%- block preHeader -%}
    {% set cookiesPageURL = domain_url + '/cy/cookies/' %}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{ onsCookiesBanner({
        'lang': 'cy',
        'statementTitle': _('Cookies'),
        'serviceName': '',
        'settingsLinkURL': cookiesPageURL,
        'statementText': _('<p>To collect information about how you use this website, we use <a href="' + cookiesPageURL + '">cookies.</a></p>
                        <p>This information helps us improve our services and make sure that the website works as well as possible.</p>'),
        'preferencesText':  'Gallwch chi <a href="' + cookiesPageURL + '">newid eich dewisiadau o ran cwcis</a> ar unrhyw adeg.'
        })
    }}
{%- endblock -%}

