{%- extends 'base-' + display_region + '-register.html' -%}

{%- from "components/summary/_macro.njk" import onsSummary -%}
{%- from 'components/button/_macro.njk' import onsButton -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    <h1 class="ons-u-mb-xs ons-u-fs-l">{{ _('Check answers') }}</h1>

{{
    onsSummary({
        "summaries": [
            {
                "summaryTitle": first_name + ' ' + middle_names + ' ' + last_name,
                "groups": [
                    {
                        "groupTitle": "Personal details",
                        "headers":["Question", "Answer given", "Change answer"],
                        "rows": [
                            {
                                "rowTitle": "Is the child's name " + first_name + " " + middle_names + " " + last_name + "?",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Yes it is"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": url('RegisterEnterChildName:get', display_region=display_region, request_type=request_type)
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "What's the child's date of birth?",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": child_dob
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": url('RegisterChildDOB:get', display_region=display_region, request_type=request_type)
                                            }
                                        ]
                                    },
                                ]
                            },
                            {
                                "rowTitle": "What school does the child attend?",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": school_name
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": url('RegisterSelectSchool:get', display_region=display_region, request_type=request_type)
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}


    {{
        onsButton({
            'text': _('Save and continue'),
            'classes': 'ons-u-mt-l'
        })
    }}

{%- endblock main -%}
