{%- extends 'base-' + display_region + '-register.html' -%}

{%- from 'components/button/_macro.njk' import onsButton -%}

{%- block main -%}

    <h1 class="ons-u-mb-xs ons-u-fs-l">{{ _('Take part in a survey') }}</h1>

    {{
        onsButton({
            'type': 'button',
            'text': _('How to register a child'),
            'classes': 'ons-u-mb-m ons-u-mt-m',
            'url': url('RegisterStart:get', display_region=display_region, request_type=request_type)
        })
    }}

{%- endblock main -%}
