{% extends 'base-' + display_region + '.html' %}

{% set request_enter_address_url = url('RequestEnterAddress:get', display_region=display_region, user_journey=user_journey, request_type=request_type) %}

{% from 'components/panel/_macro.njk' import onsPanel %}

{% block main %}
    <h1>{{ _('Sorry, you need to start again') }}</h1>

    <p>{{ _('This is because you’ve either:') }}</p>
    <ul>
        <li>{{ _('been inactive for 45 minutes and your session has timed out to protect your information') }}</li>
        <li>{{ _('followed a link to the middle of a request for a new access code') }}</li>
    </ul>

    {% autoescape false %}
        <p>{{ _('You need to start again to %(open)srequest a new access code%(close)s.', open='<a href="%s">' % request_enter_address_url, close='</a>')|safe }}</p>
    {% endautoescape %}

{% endblock %}
