{%- extends 'base-' + display_region + '.html' -%}

{%- set messages_dict=dict(get_flashed_messages()|groupby('level')) -%}
{%- set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/input/_macro.njk' import onsInput -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCodeEnterEmail:post', request_type=request_type, display_region=display_region)
    }
} -%}

{%- if 'email_empty' in field_messages_dict -%}
    {%- set error_email = {'id': 'email_empty', 'text': _('Enter an email address')} -%}
{%- elif 'email_invalid' in field_messages_dict -%}
    {%- set error_email = {'id': 'email_invalid', 'text': _('Enter an email address in a valid format, for example, name@example.com')} -%}
{%- endif -%}

{%- block main -%}

    {%- if messages_dict -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': _('What is your email address?'),
    }) -%}

        {{
            onsInput({
                "id": "email",
                "type": "email",
                "autocomplete": "email",
                "label": {
                    "text": _("Email address"),
                    "description": _("This will not be stored and only used once to send the access code")
                },
                'name': 'request-email',
                'error': error_email
            })
        }}

    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'ons-u-mt-l'
        })
    }}

{%- endblock -%}
