{%- extends 'base-' + display_region + '.html' -%}

{%- block main -%}

    <h1 class="ons-u-mt-l">{{ _('You need to call the customer contact centre') }}</h1>

    {%- if issue == 'address-not-required' -%}
        <p>{{ _('The address you have selected is not part of any active study. If you believe this to be incorrect you will need to contact us.') }}</p>
    {%- elif issue == 'address-not-found' -%}
        <p>{{ _('You have indicated that you cannot find your address. As a result we need you to contact us.') }}</p>
    {%- elif issue == 'multiple-cases' -%}
        <p>{{ _('We are unable to process this request via the website. As a result we need you to contact us.') }}</p>
    {%- endif -%}

    {%- autoescape false -%}
        <p>{{ _('You can call us free on %(telephone_number)s or %(open)schoose another way to contact us%(close)s.', telephone_number=contact_centre_number, open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
    {%- endautoescape -%}

{%- endblock -%}
