{%- extends 'base-' + display_region + '.html' -%}

{%- from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs -%}

{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- if display_region == 'cy' -%}
    {%- set breadcrumb_items = [
                {
                    "url": domain_url_cy,
                    "text": 'Hafan'
                }
            ]
    -%}
{%- else -%}
    {%- set breadcrumb_items = [
                {
                    "url": domain_url_en,
                    "text": 'Home'
                }
            ]
    -%}
{%- endif -%}

{%- block preMain -%}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Breadcrumb',
            "itemsList": breadcrumb_items
        })
    }}
{%- endblock -%}

{%- block main -%}

    <h1>{{ _('We are currently experiencing very high demand, thank you for your patience') }}</h1>

    <p>{{ _('Please try again later.') }}</p>

    {%- call onsPanel({
            'type': 'warn'
        })
    -%}

        <p>{{ _('Keep your 16-character access code safe. You will need it every time you access your study.') }}</p>

    {%- endcall -%}

{%- endblock -%}
