{%- extends 'base-' + display_region + '.html' -%}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{%- block preMain -%}
    {{
        onsBreadcrumbs({
            "ariaLabel": _('Back'),
            "itemsList": [
                {
                    "url": domain_url + '/' + display_region +  '/start/',
                    "id": "back",
                    "text": _('Back'),
                }
            ]
        })
    }}
{%- endblock -%}

{%- block main -%}

    <h1>{{ _('This access code has already been used') }}</h1>

    <p>{{ _('Someone has already submitted a response using this access code.') }}</p>

{#TODO: Content design to redirect to phone number/page to query this etc#}

{%- endblock main -%}
