{%- extends 'base-' + display_region + '.html' -%}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% if display_region == 'cy' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_cy,
                    "text": 'Hafan'
                }
            ]
    %}
{% else %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_en,
                    "text": 'Home'
                }
            ]
    %}
{% endif %}

{% block preMain %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Breadcrumb',
            "itemsList": breadcrumb_items
        })
    }}
{% endblock %}

{%- block main -%}

    <h1>{{ _('You have reached the maximum number web form submissions') }}</h1>
    {%- autoescape false -%}
        <p>{{ _('If you need further assistance, please %(open)scontact us%(close)s', open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
    {%- endautoescape -%}

{%- endblock -%}
